/*
File: multtable.css
Created by sejager
This is a stylesheet to format the dynamic multiplication table.
*/

/* All the elements should be cenetered within the webbrowser.*/

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
}

p {
    text-align: center;
}

form {
    width: 250px;
    border: 2px solid;
    border-radius: 12px;
    padding: 0px 12px;
    margin-left: auto;
    margin-right: auto;
}

label {
    float: left;
    width: 180px;
    margin: 4px;
}

input {
    margin: 4px;
}

/* Only let users input numbers to save everybody a headache. */
input[type=number] {
    border-radius: 4px;
    width: 3em;
}

/* Should be clear when the button is hit. */
input[type=submit] {
    width: 65px;
    display: block;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgray;
}

/* The table can only get so large before it scrolls to avoid massive tables from looking terrible. */
/* Thanks to https://stackoverflow.com/a/11152394 */
#tableContainer {
    max-width: 70%;
    max-height: 500px;
    overflow: scroll;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr td {
    padding: 2px;
    margin: 0px;
    border: 2px black solid;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

/* The header column and row should always be visible to make the table easily legible for larger tables. */
/* Thanks to https://stackoverflow.com/a/47923622 */
th {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}